@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins";
}
:root{
    --inlinePaddingDesktop:3.6rem;
    --inlinePaddingSmallerDevice:1.25rem
}

/* Common Styles */
.border-0{
    border: none;
}
.pointer{
cursor: pointer;
}

footer{
    padding-inline: var(--inlinePaddingDesktop);
    /* padding-top: 3.5rem; */
}
/* .branch-location-contanier{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4.8rem;
    padding: 3.5rem 6.25rem;
    & h2{
        margin: 0 auto;
    }
} */
/* .location-list{
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.625rem;
    & span:last-child{
        border: none;
    }
}
.location-item{
    color:white;
    font-size: 1.12rem;
    font-weight: 400;
    font-family: sans-serif;
    padding-right: 5rem;
    border-right: 1px white solid;
    margin: 0 auto;
    text-align: center;
} */

/* frequently-asked-questions Container */
/* .frequently-asked-questions{
    & h2{
        font-size: 2.125rem  2.125rem;
        font-weight: 400;
        text-align: center;
        padding-block:3.5rem 4rem;
  }
} */
/* .accordian-item{
    border-bottom: 0.18rem solid rgba(205, 214, 218, 0.25);
} */
/* Acccorfian Styles */
/* .accordian-button{
    width: 100%;
  padding-block: 1rem;
  background-color: white;
  text-align: start;
  position: relative;
} */
/* Rotate the close button */
/* .accordian-button::after{
    content: url('./icons/xmark.svg');
    position: absolute;
    right: 0;
    transform: rotate(45deg);
} */
.accordian-button.active::after {
    content: url('./icons/xmark.svg'); /* Change to another icon */
}
/* 
.accordian-content{
    display: none;
    padding-block:1.5rem ;
    font-size: 0.875rem;
    opacity: 50%;
} */
/* company-profile-section Design Styles*/

.company-profile-section{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 2.5rem; */
    background-color: black;
    left: 0;
    right: 0;
    border: 2px green solid;
}

.contact-section-container{
        display: flex;
        justify-content: space-around;
        gap: 1rem;
        color: white;
        position: relative;
        padding-block: 2.5rem;
        width: 100%;
}

.company-logo-section{
    & img{
        width: 3.54rem;
        height: 4.125rem;
    }
    & p{
        max-width: 6.5rem;
        height: 2.25rem;
        font-size: 0.75rem;
        font-weight: 500;
    }
}

.footer-navigation-desktop{
    display: flex;
    justify-content: space-evenly;
    gap: 4rem;
}
.footer-navigation-mobile{
    display: none;
}

/* Styles For all the Links Present Inside the Tags */
.footer-nav-main,.footer-nav-offers,.footer-nav-legal,.footer-nav-careers{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    & a{
        /* display: block; */
        width: fit-content;
        font-size: 0.8rem;
        font-weight: 500;
    }
}

.follow-us-container{
text-align: center;
}

/* To Alter the Background Color of The Icon Images */
.imageBackgrounColorWhite{
    background-color: white;
    border-radius: 0.25rem;
}
.sub-companies{
  color: white;
}
.subCompanies-Container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.37rem;
    padding-top: 1rem;
    & a{
        width: fit-content;
        font-size: 0.8rem;
        font-weight: 500;
        text-decoration: none;
        color: white;
    }
}

/* branch-location-contanier Section Design */
@media (max-width: 835px) {
    footer{
      padding-inline: var(--inlinePaddingSmallerDevice);
    }
    .branch-location-contanier{
        padding: 1rem;
        gap: 1.56rem;    
    }
    .location-item{
        padding-right: 0rem;
        border:none;
        font-size: 0.87rem;

    }
    /* .accordian-button{
        font-weight: 500;
    }
    .accordian-content{
        opacity: 80%;
        padding-block: 1rem;
    }
    .frequently-asked-questions{
        & h2{
            font-size: 1rem;
            font-weight: 400;
            text-align: center;
            padding-block:1rem;
      }
    } */

    .company-profile-section{
        padding-inline: 1rem;
        background-color: white;
    }

    .company-logo-section{
        display: flex;
        gap: 0.8rem;
        align-items: flex-end;
        & p{
            font-size: 0.48rem;
            max-width: 4.25rem;
            color: black;
        }
    }
    
.contact-section-container{
    position: relative;
    flex-direction: column;
    padding-block: 1.5rem;
    background-color: white;
}
.footer-navigation-desktop{
    display: none;
}
.footer-navigation-mobile{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    gap:1rem;
    padding-inline: 1.5rem;
    & a{
        color: black;
        text-decoration: none;
        font-size: 0.8rem;
        font-weight: 500;
    }
    /* color: black; */
}
.footer-nav-main,.footer-nav-offers,.footer-nav-legal,.footer-nav-careers{
    flex-direction: row;
}

.follow-us-container{
    position: absolute;
    top: 12%;
    right: 4%;
    color: black;
}

.sub-companies{
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    background-color: black;

}
}
/* To Alter the Background Color of The Icon Images */
.imageBackgrounColorBlacK{
        background-color: black;
        border-radius: 0.25rem;
}
